.bg-color-1{
    background-color: #c06014;
  }
  .bg-color-2{
    background-color: #424642;
  }
  .bg-color-3{
    background-color: #536162;
  }
  .bg-color-4{
    background-color: #f3f4ed;
  }
  
  .text-w{
    color:#f3f4ed;
  }